/* vim:set fdm=marker: */
/* colors {{{ 
 *
#147DFF
#0E58B3
#96c5ff - lightest
#0049a2 - darkest

#FFE414
#B3840E
}}} */


/* common utilities {{{ */
.vbox {
    display: box;
    display: -moz-box;
    display: -webkit-box;

    box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
}

.hbox {
    display: box;
    display: -moz-box;
    display: -webkit-box;

    box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;

    box-align: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;

    box-pack: start;
    -webkit-box-pack: start;
    -moz-box-pack: start;
}

/* inflexible */
.f0 {
    box-flex: 0.0;
    -moz-box-flex: 0.0;
    -webkit-box-flex: 0.0;
}

/* flexible */
.f1 {
    box-flex: 1.0;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
}
.f2 {
    box-flex: 2.0;
    -moz-box-flex: 2.0;
    -webkit-box-flex: 2.0;
}
.f8 {
    box-flex: 8.0;
    -moz-box-flex: 8.0;
    -webkit-box-flex: 8.0;
}

/* }}} */


/* framework {{{ */

body, html {
    width: 100%;
    height: 100%;
}

#logo {
    font: 40px/44px 'FFFTusjBold', Georgia, serif;
    color: #147dff;
    margin: 8px;
}

body {
    font-family: sans-serif;
    font-size: 10pt;
}

#app {
    width: 100%;
    height: 100%;
}

#cursor {
    width: 0px;
    height: 0px;
}

.tab.map-tab a {
    color: #147dff;
}

.tab.active-tab {
    background-color: #147dff;
}

.tab.active-tab a {
    color: white;
    font-weight: bold;
}

.tab {
    cursor: pointer;
    display: inline-block;
    border: thin solid #ddd;
    border-bottom: none;
    margin: 1px;
    margin-bottom: 0px;
    background-color: white;
}

.horizontal-list-item {
    display: inline-block;
    border: thin solid transparent;
    border-bottom: none;
    margin: 1px;
    margin-bottom: 0px;
}

.horizontal-list-item a, .tab a {
    display: block;
    padding: 2px;
}

.tab a {
    text-decoration: none;
    color: black;
    font: 10px Georgia, serif;
}

a {
    color: #147dff;
}

#top-control {
    border-bottom: thin solid #ddd;
    margin-bottom: 0px;
    padding: 2px;
    padding-bottom: 0px;
    background-color: #fff;
    background-image: url("bluegrad.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

#workspace {
    padding: 6px;
    background-image: url("shadow.png");
    background-position: top;
    background-repeat: repeat-x;
}

/* }}} */


/* #map-edit {{{ */

#map-whole-workspace {
}

.righty {
    text-align: right;
    float:right;
}

#toolbar {
    height: 30px; 
}

#map {
    border: thin solid black;
}

#brushes-inner {
    display: inline-block;
}

#brushes {
    background-color: white;
    padding-left: 4px;
    width: 270px;
    border: thin solid black;
    margin-left: 4px;
    overflow-y: scroll;
}

.brushes-category {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 7px;
}

.brushes-tile {
    display: inline-block;
    margin: 0px 1px 0px 0px;
}

.brushes-tile-img, .brushes-tile-x1 {
    display: inline-block;
    width: 40px;
    height: 40px;
}

#current {
    display: inline-block;
    vertical-align: middle;
}

#current .brushes-tile-img, #current .brushes-tile-x1 {
    width: 30px;
    height: 30px;
}

.hex-detail {
}

.hex-detail-data {
    height: 30px;
}

.hex-detail-data div {
    width: 80px;
}

.hex { 
    stroke: #888; 
    stroke-width: 0.60px; 
    fill: transparent;
}

.selected.hex {
    stroke: #147dff;
    stroke-width: 3;
    pointer-events: none;
    fill: transparent;
}

input[name=save] {
    background-image: url('stock_save_22.png');
    border: none;
}

input[name=save]:hover {
    background-image: url('stock_save_22_hover.png');
    border: none;
}

#export-window-content textarea {
    width: 30em;
    height: 20em;
}

/* }}} */


/* #my-maps {{{ */
.snapshot {
    border-bottom: thin dotted black;
}

.snapshot-box {
    height: 100px;
}

.snapshot .indicators {
    line-height: 100px;
    text-align: center;
    width: 30px;
}

.snapshot .thumbnail {
    width: 100px;
    text-align: center;
    box-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
}

.thumbnail-inner {
}

.snapshot .details {
    line-height: 100px;
}

#import-window-content textarea {
    width: 30em;
    height: 20em;
}

/* }}} */
