<!DOCTYPE html>
<html>
  <!-- vi:set ft=html fdm=marker fmr=[[[,]]]: -->
<head> <!-- [[[ -->
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Mapiphany</title>

  <script type='text/javascript' src=
    'jquery-1.4.4.js'></script>

  <script type="text/javascript"> $.scriptPath = "/"; </script>
  <script type='text/javascript' src=
    'jquery.require.js'></script>

  <script type='text/javascript'> $.require(
    'mapiphany.js');
  </script>

  <link rel="stylesheet" type="text/css" href=
    'reset.css' />
  <link rel="stylesheet" type="text/css" href=
    'font/stylesheet.css' />
  <link rel="stylesheet" type="text/css" href=
    'mapiphany.css' />
  <link rel="stylesheet" type="text/css" href=
    'jquery-svg/jquery.svg.css' />
</head> <!-- ]]] -->
<body>

<script type="text/x-jquery-tmpl" id=
    "map-edit"> <!-- [[[ -->

  <div class="toolbar">
    <input type="button" value="undo" name="undo" /> <input type="button" value="redo" name="redo" />
    Name: <input type="text" name="mapName" value="${$data.currentMap.name}" />
  </div>

  <div class="map-combined">

    <div class="map" />

    <div class="drawbar" />

  </div>

  <div class="hex-detail">
    $coord $graphic $name
    <div>
      <textarea name="hexDescription"></textarea>
    </div>
  </div>

</script> <!-- ]]] -->

<script type="text/x-jquery-tmpl" id=
    "my-maps"> <!-- [[[ -->

  <div class="snapshot">
    <div class="indicators" />
    <div class="thumbnail" />
      *new*
    </div>
    <div class="details" />
  </div>

  {{each maps}}
  <div class="snapshot">
    <!-- highlight .snapshot if it has a window open -->
    <div class="indicators">
      * <!-- show a window icon if it has a window open -->
    </div>
    
    <div class="thumbnail">
      <img style="width:100px; height: 100px" />
    </div>

    <div class="details">
      ${name}
    </div>
  </div>
  {{/each}}

</script> <!-- ]]] -->

<script type="text/x-jquery-tmpl" id=
  "user-edit"> <!-- [[[ -->

  ${username}'s account
  <form name="account" action="#">
    <div>
      <label for="old-password">Change password:</label>
      <input id="old-password" type="password" name="old-password" />
    </div>
    <div><input type="password" name="password1" /></div>
    <div><input type="password" name="password2" /></div>

    <div>
      <label for="email">Change email:</label>
      <input type="text" name="email" id="email" value="${email}" />
    </div>

    <div><input type="submit" name="save-account" /></div>
  </form>

</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "map-tab"> <!-- [[[ -->
  <li data-id="${id}" class=
    "map-tab tab {{if VIEW_MAP_EDIT+"#"+id == appState.visibleScreen}}active-tab{{/if}}"><a href=
    "#mapEdit">{{if modified}}*{{/if}}${name}</a></li>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "top-control-tmpl"> <!-- [[[ -->

  <ul id="top-control">
    <li><div id="logo">Mapiphany</div></li>

    <li class="horizontal-list-item">
      <ul>
        {{each(i, mapID) openMaps}}
          {{tmpl(maps[mapID]) "#map-tab"}}
        {{/each}}
        <li class=
          "tab {{if VIEW_MY_MAPS == visibleScreen}}active-tab{{/if}}"><a href=
            "#myMaps">My Maps</a></li>
      </ul>
    </li>
    <li class="righty horizontal-list-item">
      <ul>
        <li class="horizontal-list-item"><a href="#clear">!clear!</a></li>
        <li class="horizontal-list-item"><a href="#userEdit">${username}</a></li>
        <li class="horizontal-list-item"><a href="#logout">Logout</a></li>
      </ul>
    </li>
  </ul>

</script> <!-- ]]] -->

<script type="text/x-jquery-tmpl" id=
    "workspace-tmpl"> <!-- [[[ -->

  <div id="workspace">
    <!-- FIXME - only calc getVisibleScreen once not 3 times -->
    {{if $data.getVisibleScreen()[0] == VIEW_MAP_EDIT}}
      {{tmpl($data) "#map-edit"}}
    {{else $data.getVisibleScreen()[0] == VIEW_MY_MAPS}}
      {{tmpl($data) "#my-maps"}}
    {{else $data.getVisibleScreen()[0] == VIEW_USER_EDIT}}
      {{tmpl($data) "#user-edit"}}
    {{else}}
      <h1>!?</h1>
    {{/if}}
  </div>

</script> <!-- ]]] -->

<div id="cursor" />

</body>
</html>
