<!DOCTYPE html>
<html>
  <!-- vi:set ft=html fdm=marker fmr=[[[,]]]: -->
<head> <!-- [[[ -->
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <title>Mapiphany</title>
  <link rel="shortcut icon" href="static/images/hexes.ico" />

  <script type='text/javascript' src=
    'static/support/jquery-1.4.4.js'></script>

  <script type="text/javascript"> 
    // scriptPath is whatever directory this file is in
    var _sxp = unescape(location.pathname);
    _sxp = _sxp.substr(0, _sxp.lastIndexOf('/')) + '/';
    $.scriptPath = _sxp;
  </script>

  <script type='text/javascript' src=
    'static/support/jquery.require.js'></script>

  <script type='text/javascript' src=
    'mapiphany.js'></script>
  <!-- FIXME - debugger statement is only recognized when $.require is not in
  use -->
  <!-- <script type='text/javascript'> $.require(
    'mapiphany.js');
  </script> -->

  <link rel="stylesheet" type="text/css" href=
    'reset.css' />
  <link rel="stylesheet" type="text/css" href=
    'font/stylesheet.css' />
  <link rel="stylesheet" type="text/css" href=
    'mapiphany.css' />
  <link rel="stylesheet" type="text/css" href=
    'static/support/jquery-svg/jquery.svg.css' />
  <link rel="stylesheet" type="text/css" href=
    'static/support/jquery-ui/css/blueprint/jquery-ui-1.8.7.custom.css' />
</head> <!-- ]]] -->
<body>


<script type="text/x-jquery-tmpl" id=
    "tileset-css"> <!-- [[[ -->
  <link rel="stylesheet" type="text/css" href="tiles/${tileset}/tileset.css" />
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "brushes-tile"> <!-- [[[ -->
  <span class="brushes-tile-x1" title="${tile}" style=
    "background-color:{{if tileset[tile].backgroundrgb=='None'}}#c0c0c0{{else}}${tileset[tile].backgroundrgb}{{/if}}">
    {{if tileset[tile].iconfilename}}<img class="brushes-tile-img" src=
      "tiles/${tileset[tile].set}/${tileset[tile].iconfilename}" />
    {{/if}}</span>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "toolbar-tmpl"> <!-- [[[ -->

  <div id="toolbar" class="f0">
    <input class="toolbar-button" type="button" value="&nbsp;" name="save" title="save" />
    <input class="toolbar-button" type="button" value="&nbsp;" name="properties" title=
      "map properties" />
    <input class="toolbar-button" type="button" value="&nbsp;" name="undo" title="undo" />
    <input class="toolbar-button" type="button" value="&nbsp;" name="redo" title="redo" />
    <span class="f0">Name:</span> <input class="f1" type="text" name="mapName" value="${name}" />
    <span class="f0">Current:</span> <span id="current">{{tmpl({tile:map.defaultFill, tileset:tileset}) "#brushes-tile"}}</span>
    <span>Zoom:</span> <select name="zoom">
      <option value="200">200%</option>
      <option selected="selected" value="100">100%</option>
      <option value="50">50%</option>
    </select>
    <span>Units:</span> <select name="mapUnits">
        <option value="10mi">10mi</option>
        <option selected="selected" value="1mi">1 mile</option>
        <option value="halfmi">1/2 mile</option>
      </select>
    <input class="toolbar-button" type="button" value="&nbsp;" name="print" title="print view in a new window" />
    <input class="toolbar-button" type="button" value="&nbsp;" name="export" title="export to a window" />
  </div>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "new-dialog-tmpl"> <!-- [[[ -->
    <div id="new-dialog-content" class=
      "ui-dialog ui-widget ui-widget-content ui-corner-all" title=
      "How would you like to start this map?">
      <div class="hbox form-row">
        <div class="f0 form-column-1">Name:</div>
        <div class="f1">&nbsp;</div>
        <div class="f1 form-column-2"><input type="text" name=
          "name" placeholder="Name of your new map" /></div>
      </div>
      <div class="hbox form-row">
        <div class="f0 form-column-1">Tileset:</div>
        <div class="f1">&nbsp;</div>
        <div class="f8 form-column-2"><select name="tileset-select" id=
            "tileset-select">
            {{each gTilesetCatalog.getNames()}}
            <option value=
              "${$value}">${gTilesetCatalog.get($value).__default__.description}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="hbox form-row">
        <div class="f0 form-column-1">Default Tile Fill:</div>
        <div class="f1">&nbsp;</div>
        <div class="f8 form-column-2"><select size="3" name="default-tile-select" id=
          "default-tile-select">
            {{each tiles}}
            <option value="${$value}">${$value}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "import-dialog-tmpl"> <!-- [[[ -->
    <div id="import-dialog-content" class=
      "ui-dialog ui-widget ui-widget-content ui-corner-all" title=
      "Paste a previously-exported map here">
      <p><textarea name="pasted-map"></textarea></p>
    </div>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "export-dialog-tmpl"> <!-- [[[ -->
    <div id="export-dialog-content" class=
      "ui-dialog ui-widget ui-widget-content ui-corner-all" title=
      "Copy the following to a text file to save it">
      <textarea>${mapData}</textarea>
    </div>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "remove-dialog-tmpl"> <!-- [[[ -->
    <div id="remove-dialog-content" class=
      "ui-dialog ui-widget ui-widget-content ui-corner-all" title=
      "Really remove {{if checked.length > 1}}these maps{{else}}this map{{/if}}?">
      {{if log(checked)}}{{/if}}
      <ul>{{each checked}}
        <li>- ${maps[$($value).parents(".snapshot").data("id")].name}</li>
        {{/each}}
      </ul>
    </div>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "map-edit-unknown"> <!-- [[[ -->
  <div>
    <h1>This map does not exist, bub.</h1>
    <a href="#my-maps">Return to My Maps</a>
  </div>
</script>


<script type="text/x-jquery-tmpl" id=
    "map-edit"> <!-- [[[ -->

  <div id="map-whole-workspace" class="vbox f1">
    <div id="toolbar" class="f0 hbox" />

    <div class="f8 hbox">

      <!-- this is the map --> <!-- this is the map -->
      <!-- this is the map --> <!-- this is the map -->
      <!-- this is the map --> <!-- this is the map -->

      <div id="map" class="f1"/>
        
      <!-- this is the map --> <!-- this is the map -->
      <!-- this is the map --> <!-- this is the map -->
      <!-- this is the map --> <!-- this is the map --> 

      <div id="brushes" class="f0 vbox">
        <div id="brushes-inner">
          {{each($i, category) categories}}
          <div class="brushes-category"><em>${category[0]}</em></div>
          {{each($j, tile) category[1]}}<span class="brushes-tile" 
            data-tile="${tile}">{{tmpl({tile:tile, tileset:tileset}) "#brushes-tile"}}</span>
          {{/each}}
          {{/each}}
        </div>
      </div>
      
      
    </div>

    <div class="hex-detail f1 vbox">
      <div class="hex-detail-data f0 hbox">
        <div class=
          "f0">$coord</div> <div class=
          "f0">$graphic</div> <div class=
          "f1">$name</div>
      </div>
      <div class=
        "hex-detail-description">
        <textarea name="hexDescription"></textarea>
      </div>
    </div>

  </div>

</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "my-maps"> <!-- [[[ -->

  <div class="snapshot">
    <div class="snapshot-box hbox">

      <div class="indicators f0">&nbsp;</div>

      <div class="thumbnail f0 hbox">
        <input class="my-maps-button" type="button" value="&nbsp;" name="new-button" title="new" />
      </div>

      <div class="thumbnail f0 hbox">
        <input class="my-maps-button" type="button" value="&nbsp;" name="import-button" title="import" />
      </div>

      <div class="thumbnail f0 hbox">
        <input class="ui-state-disabled my-maps-button" type="button" value="&nbsp;" name="remove-button" title="remove" />
      </div>

      <div class="details f1" />

    </div>
  </div>

  {{each sortObject(maps)}}
  <div class="snapshot" data-id="${$value[1].id}">
    <div class="snapshot-box hbox">
      <div class="indicators f0"><input type="checkbox" /></div>
      
      <div class="thumbnail f0 hbox">
        <div class="thumbnail-inner">
          <img src="static/images/hexes.png" alt="${$value[1].name}" title=
            "${$value[1].name}" />
        </div>
      </div>

      <div class="details f1">
        <a href="#map-edit&${$value[1].id}">${$value[1].name}</a>
      </div>
    </div>
  </div>
  {{/each}}

</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
  "user-edit"> <!-- [[[ -->

  ${username}'s account
  <form name="account" action="#">
    <div>
      <label for="old-password">Change password:</label>
      <input id="old-password" type="password" name="old-password" />
    </div>
    <div><input type="password" name="password1" /></div>
    <div><input type="password" name="password2" /></div>

    <div>
      <label for="email">Change email:</label>
      <input type="text" name="email" id="email" value="${email}" />
    </div>

    <div><input type="submit" name="save-account" /></div>
  </form>

</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "map-tab"> <!-- [[[ -->
  <li data-id="${id}" class=
    "map-tab tab active-tab"><a href=
    "#mapEdit">{{if modified}}*{{/if}}${name}</a></li>
</script> <!-- ]]] -->


<script type="text/x-jquery-tmpl" id=
    "top-control-tmpl"> <!-- [[[ -->

  <ul id="top-control" class="f0">
    <li><div id="logo">Mapiphany</div></li>

    <li class="horizontal-list-item">
      <ul>
        <li class=
          "tab {{if VIEW_MY_MAPS == visibleScreen[0]}}active-tab{{/if}}"><a href=
            "#my-maps">My Maps</a></li>
        {{if VIEW_MAP_EDIT == visibleScreen[0]}}
          {{tmpl(currentMap) "#map-tab"}}
        {{/if}}
      </ul>
    </li>
    <li class="righty horizontal-list-item">
      <ul>
        <li class="horizontal-list-item"><a href="#clear">!clear!</a></li>
        <li class="horizontal-list-item"><a href="#userEdit">${username}</a></li>
        <li class="horizontal-list-item"><a href="#logout">Logout</a></li>
      </ul>
    </li>
  </ul>

</script> <!-- ]]] -->


<!-- DEFAULT BODY -->

<div id="app" class="vbox">
  <div id="cursor" class="f0"></div>

  <div id="workspace" class="f1 vbox">
    <h1>!?</h1>
  </div>
</div>


</body>
</html>
